@import '../../css/theme.scss';

.button {
	align-items: center;
	background-color: transparent;
	border: none;
	display: flex;
	height: 35px;

	&__icon {
		margin-left: 10px;
	}

	&--small {
		@extend .button;

		letter-spacing: 9.5px;
		text-transform: uppercase;
	}

	&:hover {
		cursor: pointer;
	}
}
