@import '../../css/theme';

.loading {
	display: inline-block;
	height: 64px;
	left: 50%;
	position: absolute;
	top: 150px;
	transform: translateX(-50%);
	width: 64px;

	&__bar--1,
	&__bar--2,
	&__bar--3 {
		animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
		background-color: $red;
		display: inline-block;
		left: 6px;
		position: absolute;
		width: 13px;
	}

	&__bar--1 {
		animation-delay: -0.24s;
		left: 6px;
	}

	&__bar--2 {
		animation-delay: -0.12s;
		left: 26px;
	}

	&__bar--3 {
		animation-delay: 0;
		left: 45px;
	}
}
