// Imported fonts from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600&display=swap');

//Font-weight variables
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

// Style definitions
body {
	font-family: 'Saira Condensed', sans-serif;
	font-size: $regular;
}
