.container {
	margin: 0 auto;
	padding: 0 20px;

	@include breakpoint(desktop) {
		max-width: 1200px;
		padding: 0;
	}
}

.screen--inactive {
	opacity: 0;
	visibility: hidden;
}

.screen--active,
.screen--inactive {
	transition: opacity 0.5s ease-in-out;
}

.screen--full,
.screen--showing-footer {
	background-color: $white;
	left: 0;
	position: absolute;
	right: 0;
	top: 75px;
	z-index: 1;

	@include breakpoint(tabletL) {
		top: 150px;
	}
}

.screen--full.screen--active {
	bottom: 0;
	z-index: 3;

	& ~ .footer {
		display: none;
	}
}

.screen--showing-footer {
	bottom: 75px;

	& ~ .footer {
		z-index: 2;
	}
}
